<div class='main-container'>
    <div class='first-bg' id='top'>
        <div class='image1'></div>
        <div class='title'>About Hungry Ags</div>
        <div class='divider'></div>
        <div class='quote'>"They say that beggars can't be choosers. We've<br>made it our mission to let them try"</div>
        <div (click)='scroll("middle");' class='learn-more'>Learn More<br>
            <i class="material-icons">
                keyboard_arrow_down
            </i>
        </div>
    </div>
    <div id='middle'>
        <div class="title2">The Team</div>

        <div class="row2">
            <div style='display: flex;'>
                <div class="column">
                    <img class="profile" src="/assets/alex.jpg" alt="alex">
                    <div class="name" align="left"><b>Alexander Labbane</b></div>
                    <div class="bio">Developer</div>
                </div>
                <div class="column">
                    <img class="profile" src="/assets/ian.jpg" alt="ian">
                    <div class="name" align="left"><b>Ian Matson</b></div>
                    <div class="bio">Developer</div>
                </div>
            </div>
            <div style='display: flex;'>
                <div class="column">
                    <img class="profile" src="/assets/taner.png" alt="tanner">
                    <div class="name" align="left"><b>Tanner Hoke</b></div>
                    <div class="bio">Developer</div>
                </div>
                <div class="column">
                    <img class="profile" src="/assets/daniel.jpg" alt="dan">
                    <div class="name" align="left"><b>Daniel Abreo</b></div>
                    <div class="bio">Developer</div>
                </div>
            </div>
        </div>
    </div>
    <div class='second-bg'>
        <div (click)='scroll("top");' class='back-to-top'>
            <i class="material-icons">
                keyboard_arrow_up
            </i>
            <br>Back to top
        </div>
        <div class='image2'></div>
        <div class='title'>Our Mission</div>
        <div class='divider'></div>
        <div class='quote'>To unite students to organizations in a simple,<br>mutually beneficial environment</div>
        <div (click)='scroll("bottom");' class='learn-more'>Continue<br>
            <i class="material-icons">
                keyboard_arrow_down
            </i>
        </div>
    </div>
    <div class='bottom' id='bottom'>

        <div class='bottom-left'>
            <img class='logo' src='/assets/full-logo.png'>
        </div>
        <div class='bottom-right'>
            <div class='bottom-title'>
                Why Hungry Ags?
            </div>
            <div class='bottom-text'>
                It’s no secret that dining out can take a big bite out of your budget. Fortunately, many on-campus
                organizations offer free food just for attending their meetings!<br><br>
                At Hungry Ags, we've mined the depths of the world of free food to present the best of the best as the
                freebies are announced. Check back often (this list is updated regularly) to know exactly when you can
                expect to fill up for free on-campus. Dig in!<br><br>
                Part of an organization looking for members? Post your event here today and start recruiting prospective
                members.
            </div>
        </div>
    </div>
</div>