<div class="main-container">
  <div class="sub-container">
    <div class="title">About Hungry Ags</div>
    <div class="row">
      <div class="about-section">
        <div class="row1">
          <div class="column1"><img src="/assets/full-logo.png" height="200" alt="default"></div>
          <div class="column2" align="left">It’s no secret that dining out can take a big bite out of your budget. Fortunately, many on-campus organizations offer free food just for attending their meetings!<br><br>
            At Hungry Ags, we've mined the depths of the world of free food to present the best of the best as the freebies are announced. Check back often (this list is updated regularly) to know exactly when you can expect to fill up for free on-campus. Dig in!<br><br>
            Part of an organization looking for members? Post your event here today and start recruiting prospective members.
          </div>
        </div>

      </div>
    </div>
    <div class="title2">The Team</div>
    <div class="row">
      <div class="column">
        <img class="profile" src="/assets/profile.jpeg" alt="default">
        <div class="name" align="left"><b>Alexander Labbane</b></div>
        <div class="bio">Developer</div>
      </div>
      <div class="column">
        <img class="profile" src="/assets/profile.jpeg" alt="default">
        <div class="name" align="left"><b>Ian Matson</b></div>
        <div class="bio">Developer</div>
      </div>
      <div class="column">
        <img class="profile" src="/assets/profile.jpeg" alt="default">
        <div class="name" align="left"><b>Tanner Hoke</b></div>
        <div class="bio">Developer</div>
      </div>
      <div class="column">
        <img class="profile" src="/assets/dan.JPG" alt="default">
        <div class="name" align="left"><b>Daniel Abreo</b></div>
        <div class="bio">Front End Developer</div>
      </div>
    </div>
    <div class="title"> </div>
    <app-footer [relative]="true"></app-footer>
  </div>
</div>

