<div class="main-container">
  <div class="sub-container">
    <div class="title">About Hungry Ags</div>
    <div class="row">
      <div class="about-section">
        <div class="row1">
          <div class="column1"><img src="/assets/full-logo.png" height="200" alt="default"></div>
          <div class="column2" align="left">We've mined the depths of the world of food deals to present the best of the best as the deals are announced. Check back often (this list is updated regularly) to know exactly which days you should offer to buy lunch for your coworkers without telling them there's a buy-one-get-one-free (BOGO) deal down the street. Lunch is on them next time. Dig in.</div>
        </div>

      </div>
    </div>
    <div class="title2">The Team</div>
    <div class="row">
      <div class="column">
        <img class="profile" src="/assets/profile.jpeg" alt="default">
        <div class="name"><b>Alexander Labbane</b></div>
        <div class="bio">Developer</div>
      </div>
      <div class="column">
        <img class="profile" src="/assets/profile.jpeg" alt="default">
        <div class="name"><b>Ian Matson</b></div>
        <div class="bio">Developer</div>
      </div>
      <div class="column">
        <img class="profile" src="/assets/profile.jpeg" alt="default">
        <div class="name"><b>Tanner Hoke</b></div>
        <div class="bio">Developer</div>
      </div>
      <div class="column">
        <img class="profile" src="/assets/profile.jpeg" alt="default">
        <div class="name"><b>Daniel Abreo</b></div>
        <div class="bio">Front End Developer</div>
      </div>
    </div>
  </div>
</div>
