<div class="main-container">
  <div class="sub-container">
    <div class="title">The Team</div>
    <div class="row">
      <div class="column">
        <img class="profile" src="/assets/profile.jpeg" alt="default">
      </div>
      <div class="column">
        <img class="profile" src="/assets/profile.jpeg" alt="default">
      </div>
      <div class="column">
        <img class="profile" src="/assets/profile.jpeg" alt="default">
      </div>
      <div class="column">
        <img class="profile" src="/assets/profile.jpeg" alt="default">
        <div class="name"><b>Daniel Abreo</b></div>
        <div class="bio">Front End Developer</div>
      </div>
    </div>
  </div>
</div>
