<div class="main-container">
  <div class="login-form">
    <div class="left">
      Welcome to <b>Hungry Ags</b>
      <div class="new">
        New here?
      </div>
      <button class="button">Register</button>
      <button class="button">About Us</button>
    </div>
    <div class="right">
      Login
      <form class="login-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Favorite food" value="Sushi" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Leave a comment"></textarea>
        </mat-form-field>
      </form>
    </div>
  </div>
</div>
