<mat-toolbar color="primary" id="nav-bar">
  <div id="left">
    <img src="assets/logo.png" routerLink="/home" height="42px;"
      style="margin-left: -10px; cursor: pointer; outline: none;" />
    <h1 id="site-title" routerLink="/home">
      <span style="font-family: Copperplate-Bold">Hungry</span><span
        style="margin-left: 5px; font-family: Copperplate-Light">Ags</span>
    </h1>
  </div>

  <div id="center">
    <div *ngIf="checkIsHome()" class="white-box">
      <i class="material-icons" id="filter-icon">filter_list</i>
      <input id="search-input" placeholder="Filter..." [(ngModel)]="filter" (onshow)="checkIsHome()"
        (input)="checkIsHome()" />
    </div>
  </div>

  <div id="right">
    <img *ngIf="router.url != '/login' && !controllerService.signedIn" id='sign-in-button'
      src='assets/btn_google_signin_light_normal_web.png' (click)='this.controllerService.signInWithGoogle();'>
    <div class="user-panel" *ngIf='this.controllerService.signedIn == true;' [matMenuTriggerFor]="menu">
      <img src={{this.controllerService.photo}} class='user-photo'>
      {{this.controllerService.user}}
    </div>
    <mat-menu #menu="matMenu">
      <div class="username">{{this.controllerService.user}}</div>
      <button (click)="
            this.controllerService.signOut();
          " mat-menu-item routerLink='/home'>
        Sign Out
      </button>
      <button mat-menu-item routerLink="/new-event">Add an Event</button>
      <button mat-menu-item routerLink="/register-org">
        Register an Organization
      </button>
    </mat-menu>
  </div>
</mat-toolbar>