#nav-bar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  text-align: center;
  height: 64px;
  display:flex;
}

#left {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

#center {
  display: inline-flex;
  flex:1;
  justify-content: center;
}
.checkbox{
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 5px;
}
.checkbox-label{
  color: #6c1420;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  user-select: none;
  transition: .4s;
  white-space: nowrap;
  overflow: hidden;
  width: 115px;
  margin-left: 10px;
}
#search-input:focus + .checkbox-label{
  width: 0px;
  color: #6c142000;
}
#right {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
#right-compact {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  display: none;
  margin-left: 20px;
}
.user-panel {
  cursor:pointer;
  user-select: none;
  text-align: center;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  padding-right: 10px;
}
.username {
  overflow: hidden;
  font-weight: bold;
  background: #6c1420;
  text-align: center;
  padding: 10px;
  color: white;
}
.white-box {
  background-color: white;
  color: black;
  max-width: 428px;
  height: 36px;
  flex: 1;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
}

#filter-icon {
  margin-left: 5px;
  color: #6c1420;
}

#site-title {
  margin-left: 10px;
  font-size: 28px;
  cursor: pointer;
  outline: none;
}

#search-input {
  margin-left: 5px;
  border: none;
  font-size: 16px;
  width: 100%;
  outline: none;
}

#sign-in-button {
  height: 42px;
  border-radius: 13px;
  cursor: pointer;
}
.user-photo {
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.4);
  height: 35px;
  width: 35px;
  margin: 5px;
}
@media only screen and (max-width: 1000px) {
  .white-box{
    max-width: 1000px;
  }
  #left {
    display: none;
  }

  #right {
    display: none;
  }
  #right-compact{
    display: flex;
  }
}
