#container {
  width:100%;
}

#left {
  display: flex;
  align-items: center;
  justify-content: center;
}

#right {
  display: flex;
  align-items: center;
  justify-content: center;
}

#center {
  flex: 1 1 auto;
}

.white-box {
  background-color: white;
  color: black;
  margin: 0 auto;
  width: 428px;
  height: 36px;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

#filter-icon {
  margin-left: 5px;
  color: #6c1420;
}

#site-title {
  margin-left: 10px;
  font-size: 28px;
}

.example-container {
  display: flex;
  flex-direction: column;
  height: 10px !important;
}

