<mat-toolbar color="primary" id="nav-bar">
  <div id="left">
    <img
      src="assets/logo.png"
      routerLink="/home"
      height="42px;"
      style="margin-left: -10px; cursor: pointer; outline: none;"
    />
    <h1 id="site-title" routerLink="/home">
      <span style="font-family: Copperplate-Bold">Hungry</span
      ><span style="margin-left: 5px; font-family: Copperplate-Light">Ags</span>
    </h1>
  </div>

  <div id="center">
    <div *ngIf="router.url === '/home'" class="white-box">
      <i class="material-icons" id="filter-icon">filter_list</i>
      <input id="search-input" placeholder="Filter..." [(ngModel)]="filter" (change)="ngOnInit()"/>
    </div>
  </div>

  <div id="right">
    <div>
      <button
        *ngIf="router.url != '/login'"
        mat-raised-button
        id="sign-in-button"
        routerLink="/login"
      >
        SIGN IN
      </button>
    </div>
  </div>
</mat-toolbar>
