<div>
   <mat-icon matTooltip="Report event" (click)="reportClick()" *ngIf="controllerService.signedIn" class="material-icons">error</mat-icon>
   <a target="_blank" href={{data.mapLink}} *ngIf="showMap()"><mat-icon matTooltip="Show on map" class = material-icons>map</mat-icon></a>
    <h1 mat-dialog-title class="title">{{data.title}}<p class="info">{{data.location}} - {{data.organization}}</p><span *ngIf="data.sanctioned" class="info"><span class="dot"></span> Verified</span></h1>
    <p class="description">{{data.description}}</p>
    <br>
    <p *ngIf="data.sanctioned" class="info footer">Contact: {{data.organizer}}</p>
    <p *ngIf="!data.sanctioned" class="info footer">Submitted by an individual user</p>
</div>

