.title {
    color:#6c1420;
    line-height: 90%;

}

.material-icons {
    color:rgb(170,170,170);
    float:right;
    top:0;
    right:0;
    transition:0.5s all;
    outline:none;
    text-decoration: none;
}

.material-icons:hover {
    cursor: pointer;
    color:#6c1420;
}

.info {
    font-size:12px;
    padding:0em;
}

