<div style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; overflow: auto;">
    <div class='outer-form-container'>
        <div class='main-container'>
            Free food? Let the world know.
        </div>
        <form class="form">
            <div class=inner-form-container>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Event Name" value="" [(ngModel)]="title" name="Event Name">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Organization" [(ngModel)]="organization" value="" name="Organization">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Location" [(ngModel)]="location" value="" name="Location">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="date" placeholder="Choose a date" name="Date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput [ngxTimepicker]="timePicker1" [disableClick]="true" placeholder="Start Time" value="" name="Start">
                    <ngx-material-timepicker #timePicker1></ngx-material-timepicker>
                    <ngx-material-timepicker-toggle matSuffix [for]="timePicker1" [disabled]="false"><i class="material-icons">
                            query_builder
                            </i></ngx-material-timepicker-toggle>
                </mat-form-field>
            </div>
            <div>
                <button type='submit' class="button-dark" (click)="addEvent()">Submit</button>
            </div>
        </form>
    </div>
</div>