<div style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; overflow: auto; display: flex; align-items: center; flex-direction: column;">
    <div class='outer-form-container'>
        <div class='main-container'>
            <h1>Free food? Let the world know.</h1>
        </div>
        <form class="form" [formGroup]="eventForm" (ngSubmit)="onSubmit(eventForm)">
            <div class='inner-form-container'>
                <mat-form-field class="example-full-width">
                    <input matInput formControlName="nameControl" placeholder="Event Name" name="Event Name">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput formControlName="orgControl" placeholder="Organization" name="Organization">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput formControlName="locControl" placeholder="Location" name="Location">
                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="dateControl" [matDatepicker]="picker" placeholder="Choose a date" name="Date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class='inner-form-container'>
                <mat-form-field class="example-full-width">
                    <input readonly formControlName="startTimeControl" [disableClick]="false" matInput [ngxTimepicker]="timePicker1" placeholder="Start Time" name="Start">
                    <ngx-material-timepicker #timePicker1 [ngxMaterialTimepickerTheme]="darkTheme"></ngx-material-timepicker>
                    <ngx-material-timepicker-toggle matSuffix [for]="timePicker1" [disabled]="false">
                            <svg style='transform: translate(0,4px);' xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" ngxMaterialTimepickerToggleIcon><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/><path d="M0 0h24v24H0z" fill="none"/><path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"/></svg>
                    </ngx-material-timepicker-toggle>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input readonly formControlName="endTimeControl" matInput [disableClick]="false" [ngxTimepicker]="timePicker2" placeholder="End Time" name="End" >
                    <ngx-material-timepicker #timePicker2 [ngxMaterialTimepickerTheme]="darkTheme"></ngx-material-timepicker>
                    <ngx-material-timepicker-toggle matSuffix [for]="timePicker2" [disabled]="false">
                            <svg style='transform: translate(0,4px);' xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" ngxMaterialTimepickerToggleIcon><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/><path d="M0 0h24v24H0z" fill="none"/><path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"/></svg>
                    </ngx-material-timepicker-toggle>
                    <mat-error *ngIf="eventForm.controls.endTimeControl.hasError('notLogical')">
                            End time must be <strong>after</strong> start time
                    </mat-error>
                </mat-form-field>
            </div>
            <mat-form-field style='flex: 1'>
                <textarea formControlName="descControl" matInput placeholder="Description" name="First" cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="10"></textarea>
            </mat-form-field>
            <div>
                <button type='submit' [disabled]="eventForm.invalid" class="button-dark" >Submit</button>
            </div>
        </form>
    </div>
    <app-footer [relative]='true'></app-footer>
</div>