<div class="main-container">
  <div class="login-form">
    <span class="header">Register</span>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm)" class="example-form">
      <mat-form-field  style="width: 240px;" class="example-full-width">
        <input type='email' matInput formControlName="email" placeholder="Email" />
        <mat-error *ngIf="registrationForm.invalid">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field style="width: 240px;" class="example-full-width">
        <input type="password" formControlName="password" matInput placeholder="Password" />
      </mat-form-field>
      <mat-form-field style="width: 240px;" class="example-full-width">
        <mat-hint *ngIf = 'registrationForm.invalid'>
          Your passwords do not match
        </mat-hint>
        <input type="password" formControlName="confirmPassword" matInput placeholder="Confirm Password"/>
      </mat-form-field>
      <button type='submit' [disabled]="registrationForm.invalid || this.displayPassError" class="button-dark" (click)="openDialog()">Register</button>
    </form>
  </div>
</div>
